<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link th:href="@{/resource_global/font.css}"
          href="../../static/resource_global/font.css"
          rel="stylesheet"/>
    <link th:href="@{/resource_sc1_n3/login.css}"
          href="../../static/resource_sc1_n3/login.css"
          rel="stylesheet"/>

    <script th:inline="javascript">
        // Thymeleaf 변수 할당하기
        const loggedIn = /*[[${viewModel.loggedIn}]]*/ false;
        const loginError = /*[[${viewModel.loginError}]]*/ false;
        const expired = /*[[${viewModel.expired}]]*/ false;
        const duplicated = /*[[${viewModel.duplicated}]]*/ false;
        const changePassword = /*[[${viewModel.changePassword}]]*/ false;
    </script>
    <script th:src="@{/resource_sc1_n3/login.js}"
            src="../../static/resource_sc1_n3/login.js">
    </script>

    <title>
        Springboot MVC Template
    </title>
</head>
<body>
<!-- 본문 작성 -->

<div>
    <img id="title_icon"
         th:src="@{/resource_global/title_icon.png}"
         src="../../static/resource_global/title_icon.png"
         onclick="location.href='/'"
         alt="타이틀 아이콘 이미지"/>
    <h1 id="title_txt">
        로그인
    </h1>
</div>

<hr/>

<form th:action="@{/main/sc/v1/login-process}" method="post" onsubmit="return validateForm()">
    <div>
        <label for="accountId">아이디:</label>
        <input type="text" id="accountId" name="accountId"/>
    </div>
    <div>
        <input type="hidden" id="username" name="username"/>
    </div>
    <div>
        <label for="password">비밀번호:</label>
        <input type="password" id="password" name="password"/>
        <button type="button" id="togglePassword" onclick="togglePasswordVisibility()">Show</button>
    </div>
    <div>
        <button id="loginButton" type="submit">로그인</button>
    </div>
</form>
<div>
    <button id="signupButton" onclick="goToSignup()">회원가입</button>
</div>

</body>
</html>