<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link th:href="@{/resource_global/font.css}"
          href="../../static/resource_global/font.css"
          rel="stylesheet"/>
    <link th:href="@{/resource_sc1_n18/member_password_change.css}"
          href="../../static/resource_sc1_n18/member_password_change.css"
          rel="stylesheet"/>
    <style>
        #changePasswordButton {
            margin-top: 5px;
        }
    </style>

    <title>
        Springboot MVC Template
    </title>
</head>
<body>
<!-- 본문 작성 -->

<div>
    <img id="title_icon"
         th:src="@{/resource_global/title_icon.png}"
         src="../../static/resource_global/title_icon.png"
         onclick="location.href='/'"
         alt="타이틀 아이콘 이미지"/>
    <h1 id="title_txt">
        회원 비밀번호 변경
    </h1>
</div>

<hr/>

<form th:action="@{/main/sc/v1/member-password-change-process}" method="post" onsubmit="return validateForm()">
    <div>
        <label for="memberUid">회원 고유번호:</label>
        <input type="number" min="1" id="memberUid" name="memberUid"/>
    </div>
    <div>
        <label for="newPassword">새로운 비밀번호:</label>
        <input type="password" id="newPassword" name="newPassword"/>
        <button type="button" id="toggleNewPassword" onclick="togglePasswordVisibility('newPassword')">Show</button>
    </div>
    <div>
        <label for="confirmNewPassword">새로운 비밀번호 확인:</label>
        <input type="password" id="confirmNewPassword" name="confirmNewPassword"/>
        <button type="button" id="toggleConfirmNewPassword" onclick="togglePasswordVisibility('confirmNewPassword')">
            Show
        </button>
    </div>
    <div>
        <button id="changePasswordButton" type="submit">비밀번호 변경</button>
    </div>
</form>

<!-- Script 선언 -->
<script th:src="@{/resource_sc1_n18/member_password_change.js}"
        src="../../static/resource_sc1_n18/member_password_change.js">
</script>
<script th:inline="javascript">
    if ([[${viewModel.complete}]] === true) {
        alert("회원의 비밀번호가 변경되었습니다.");
        history.replaceState(null, null, '/main/sc/v1/member-password-change');
    } else if ([[${viewModel.memberNotFound}]] === true) {
        alert("존재하지 않는 회원 고유번호입니다.");
        history.replaceState(null, null, '/main/sc/v1/member-password-change');
    }

    // 입력값 검증 함수
    function validateForm() {
        var memberUidField = document.getElementById('memberUid');
        var memberUid = memberUidField.value;
        var newPasswordField = document.getElementById('newPassword');
        var newPassword = newPasswordField.value;
        var confirmNewPasswordField = document.getElementById('confirmNewPassword');
        var confirmNewPassword = confirmNewPasswordField.value;

        if (memberUid === "") {
            alert("비밀번호를 변경할 회원의 고유번호를 입력하세요.");
            memberUidField.focus();
            return false;
        }

        if (newPassword === "") {
            alert("새 비밀번호를 입력하세요.");
            newPasswordField.focus();
            return false;
        }

        if (confirmNewPassword === "") {
            alert("새 비밀번호 확인을 입력하세요.");
            confirmNewPasswordField.focus();
            return false;
        }

        if (newPassword !== confirmNewPassword) {
            alert("새 비밀번호가 일치하지 않습니다.");
            confirmNewPasswordField.focus();
            return false;
        }

        return true;
    }

    // 비밀번호 감추기/보이기 기능
    function togglePasswordVisibility(id) {
        var passwordInput = document.getElementById(id);
        var toggleButton = id === 'password' ? document.getElementById('togglePassword') : document.getElementById('toggleConfirmPassword');
        if (passwordInput.type === "password") {
            passwordInput.type = "text";
            toggleButton.textContent = "Hide";
        } else {
            passwordInput.type = "password";
            toggleButton.textContent = "Show";
        }
    }
</script>
</body>
</html>