<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link th:href="@{/resource_global/font.css}"
          href="../../static/resource_global/font.css"
          rel="stylesheet"/>
    <link th:href="@{/resource_sc1_n11/change_id.css}"
          href="../../static/resource_sc1_n11/change_id.css"
          rel="stylesheet"/>
    <style>
        #idChangeButton {
            margin-top: 5px;
        }
    </style>

    <title>
        Springboot MVC Template
    </title>
</head>
<body>
<!-- 본문 작성 -->

<div>
    <img id="title_icon"
         th:src="@{/resource_global/title_icon.png}"
         src="../../static/resource_global/title_icon.png"
         onclick="location.href='/'"
         alt="타이틀 아이콘 이미지"/>
    <h1 id="title_txt">
        아이디 변경
    </h1>
</div>

<hr/>

<form th:action="@{/main/sc/v1/change-id-process}" method="post" onsubmit="return validateForm()">
    <div>
        <label for="accountId">아이디:</label>
        <input type="text" id="accountId" name="accountId" th:value="${viewModel.accountId}"/>
    </div>
    <div>
        <button id="idChangeButton" type="submit">아이디 변경</button>
    </div>
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
</form>

<!-- Script 선언 -->
<script th:src="@{/resource_sc1_n11/change_id.js}"
        src="../../static/resource_sc1_n11/change_id.js">
</script>
<script th:inline="javascript">
    if ([[${viewModel.complete}]] === true) {
        alert("아이디가 변경되었습니다.");
        history.replaceState(null, null, '/main/sc/v1/change-id');
    } else if ([[${viewModel.idExists}]] === true) {
        alert("동일 아이디로 가입된 회원이 존재합니다.");
        history.replaceState(null, null, '/main/sc/v1/change-id');
    }

    // 입력값 검증 함수
    function validateForm() {
        var accountIdField = document.getElementById('accountId');
        var accountId = accountIdField.value;

        if (accountId === "") {
            alert("아이디를 입력하세요.");
            accountIdField.focus();
            return false;
        }

        return true;
    }
</script>
</body>
</html>