<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/resource_global/font.css}" href="../../static/resource_global/font.css" rel="stylesheet"/>
    <link th:href="@{/resource_sc1_n8/error_page.css}" href="../../static/resource_sc1_n8/error_page.css"
          rel="stylesheet"/>
    <title>Springboot MVC Template</title>
</head>
<body>

<div class="container">
    <div th:text="${viewModel.errorMsg}"></div>
    <button class="home-button" onclick="location.href='/'">홈으로</button>
</div>

<!-- Script 선언 -->
<script th:inline="javascript">
    // Thymeleaf 변수 할당하기
</script>
<script th:src="@{/resource_sc1_n8/error_page.js}"
        src="../../static/resource_sc1_n8/error_page.js">
</script>
</body>
</html>